/* 全站黑底 + 預設白字，但允許子元素自己改顏色 */
html,
body {
  background-color: #000;
  color: #fff;
  padding: 0;
  margin: 0;
}

/* 讓 input/選單在深色主題下清楚可讀 */
input,
select,
textarea {
  background-color: #111;
  color: #fff;
  border-color: #333;
}

/* 修正瀏覽器預設紫色 visited 連結 */
a,
a:visited,
a:hover,
a:active {
  color: #d4d4d4 !important; /* 你想要的固定顏色 */
  text-decoration: none;
}

a:hover {
  color: white !important;
}
